.projectSection .projectSContainer h2 {
  color: var(--headingColor);
  font-size: 1.4rem;
}

.projectSParent {
  gap: 2px;
}

.projectSParent .projectSChild {
  width: 33.3%;
  margin: 0 0 1px 0;
  color: var(--textWhite);
  padding: 1rem;
  cursor: pointer;
  border: 1px solid var(--textColor);
  border-radius: 0.2rem;
  background-color: var(--black);
}

.projectSParent .projectSChild:hover {
  background-color: var(--bgWhite);
  transition: 0.3s ease-in-out;
}

.projectSParent .projectSChild .projectSBtns .projectSIcons {
  color: var(--textWhite);
}

.projectSParent .projectSChild:hover .projectSBtns .projectSIcons {
  color: var(--textColor);
  transition: 0.3s ease-in-out;
}

.projectSParent .projectSChild h3 {
  margin: 0 0 0.5rem 0;
  color: var(--textWhite);
}

.projectSParent .projectSChild:hover h3 {
  color: var(--textColor);
  transition: 0.3s ease-in-out;
}

.projectSParent .projectSChild p {
  text-align: justify;
  font-size: 0.9rem;
  color: var(--textWhite);
}

.projectSParent .projectSChild:hover p {
  color: var(--textColor);
  transition: 0.3s ease-in-out;
}

.projectSParent .projectSChild .projectSBtns .projectSBtn {
  margin: 0 0 1rem 0;
}

.projectSParent .projectSChild .projectSBtns .projectSBtn a {
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--textColor);
}

.projectSParent .projectSChild .projectSBtns .projectSBtn a span {
  display: none;
}

.projectSParent .projectSChild .projectSTech {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.projectSParent .projectSChild .projectSTech p a {
  color: var(--textColor);
  margin: 0 0.5rem 0 0;
  font-size: 0.8rem;
}

.projectSHeader a button {
  padding: 0.5rem;
  background-color: var(--black);
  color: var(--white);
  transition: 0.3s;
  border: 1px solid var(--black);
  cursor: pointer;
  border-radius: 0.2rem;
}

.projectSHeader a button .showMoreIcon {
  margin: 0 0 -0.1rem 0;
}

.projectSHeader a button:hover {
  background-color: var(--white);
  color: var(--black);
}

@media screen and (min-width: 200px) and (max-width: 480px) {
  .projectSParent {
    flex-direction: column;
    margin: 0;
  }

  .projectSParent .projectSChild {
    width: 100%;
    margin: 0 0 1px 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .projectSParent {
    flex-direction: column;
    margin: 0;
  }

  .projectSParent .projectSChild {
    width: 100%;
    margin: 0 0 1rem 0;
  }
}
