.contact .contactContainer {
  width: 80%;
  margin: 4rem 0 4rem 0;
}

.contact .contactContainer .borderRight {
  border-right: 1px solid #c5c5c5;
  height: 22.5rem;
  margin: 0 1rem 0 1rem;
  width: 2%;
}

.contact .contactContainer .contactCRight h2 {
  font-weight: 600;
  margin: 0 0 1rem 0;
  color: var(--headingColor);
}

.contact .contactContainer .contactCRight h3 {
  margin: 0 0 1rem 0;
  color: var(--headingColor);
}

.contact .contactContainer .contactCRight h3 a {
  font-weight: 500;
  color: var(--headingColor);
  margin: 0 0 1rem 0;
}

.contact .contactContainer .contactCRight p {
  margin: 0 0 1rem 0;
  text-align: justify;
  color: var(--textColor);
}

.contact .contactContainer .contactCRight .contactSocial .contactSIcons {
  font-size: 2rem;
  margin: 0 1rem 1rem 0;
}

.contact .contactContainer .contactCRight .contactSocial .contactSIcons a {
  color: var(--headingColor);
}

@media screen and (min-width: 200px) and (max-width: 480px) {
  .contact .contactContainer {
    flex-direction: column;
    width: 90%;
    margin: 2rem 0 2rem 0;
  }

  .contact .contactContainer .contactCLeft {
    width: 100%;
    margin: 0 0 1rem 0;
    border-bottom: 1px solid grey;
    padding: 0 0 1rem 0;
  }

  .contact .contactContainer .borderRight {
    display: none;
  }

  .contact .contactContainer .contactCRight {
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .contact .contactContainer {
    flex-direction: column;
    width: 90%;
    margin: 2rem 0 2rem 0;
  }

  .contact .contactContainer .contactCLeft {
    width: 100%;
    margin: 0 0 1rem 0;
    border-bottom: 1px solid grey;
    padding: 0 0 1rem 0;
  }

  .contact .contactContainer .borderRight {
    display: none;
  }

  .contact .contactContainer .contactCRight {
    width: 100%;
  }
}
