.pPolicy .pPolicyHeader {
  background: rgb(211, 211, 211);
  background: linear-gradient(
    90deg,
    rgba(211, 211, 211, 1) 0%,
    rgba(232, 232, 232, 1) 68%,
    rgba(249, 249, 249, 0.9304096638655462) 94%,
    rgba(255, 255, 255, 0.9500175070028011) 100%
  );
  height: 25vh;
  padding: 4rem 0 0 0;
  margin: 0 0 1rem 0;
}

.pPolicy .pPolicyHeader h1 {
  color: var(--headingColor);
  font-size: var(--h1);
  font-weight: 500;
}

.pPolicy .pPolicyContainer {
  width: 60%;
  margin: 0 0 2rem 0;
}

.pPolicy .pPolicyContainer h2 {
  font-weight: 500;
  margin: 0 0 0.3rem 0;
}

.pPolicy .pPolicyContainer p {
  margin: 0 0 1rem 0;
}

.pPolicy .pPolicyContainer p a {
  color: var(--black);
}

.pPolicy .pPolicyContainer ul {
  list-style: disc;
  margin: 0 0 1rem 0;
}

.pPolicy .pPolicyContainer ul li {
  margin: 0 0 0.5rem 0;
}

@media screen and (min-width: 200px) and (max-width: 480px) {
  .pPolicy .pPolicyContainer {
    width: 90%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .pPolicy .pPolicyContainer {
    width: 90%;
  }
}
