.myStoryContainer {
  margin: 1rem 0;
  gap: 2rem;
}

.myStory .myStoryArticle {
  width: 75%;
}

.myStory .myStoryArticle h2 {
  font-weight: 600;
  color: var(--headingColor);
  margin: 0 0 0.2rem 0;
}

.myStory .myStoryArticle h3 {
  font-weight: 600;
  color: var(--headingColor);
  margin: 0 0 0.2rem 0;
}

.myStory .myStoryArticle p {
  color: var(--textColor);
  margin: 0 0 1rem 0;
  text-align: justify;
}

@media screen and (min-width: 200px) and (max-width: 480px) {
  .myStory .myStoryArticle {
    width: var(--width90);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .myStory .myStoryArticle {
    width: var(--width90);
  }
}
