.socialSection {
  margin: 0 0 1px 0;
}

.socialSection .socialSContainer {
  border-radius: 0.2rem;
}
.socialSection .socialSContainer .socialSProfiles {
  gap: 2px;
}

.socialSection .socialSContainer .socialSProfiles .socialSProfile {
  background-color: var(--black);
  width: 33.3%;
  transition: 0.3s;
  border-radius: 0.2rem;
}

.socialSection .socialSContainer .socialSProfiles .socialSProfile a {
  color: var(--textWhite);
}

.socialSection .socialSContainer .socialSProfiles .socialSProfile a h3 {
  font-weight: 500;
  font-size: var(--a);
  color: var(--textWhite);
  padding: 3rem 8rem;
}

.socialSIcons {
  margin: 0 0 -0.15rem 0;
}

@media screen and (min-width: 200px) and (max-width: 480px) {
  .socialSection .socialSContainer .socialSProfiles {
    flex-direction: column;
  }

  .socialSection .socialSContainer .socialSProfiles .socialSProfile {
    width: 100%;
    margin: 0 0 1px 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .socialSection .socialSContainer .socialSProfiles {
    flex-direction: column;
  }

  .socialSection .socialSContainer .socialSProfiles .socialSProfile {
    width: 100%;
    margin: 0 0 1px 0;
  }
}
