.terms .termsContainer {
  width: 60%;
  margin: 1rem 0 2rem 0;
}

.terms .termsContainer h2 {
  font-weight: 500;
  margin: 0 0 0.3rem 0;
}

.terms .termsContainer p {
  margin: 0 0 1rem 0;
}

.terms .termsContainer p a {
  color: var(--black);
}

.terms .termsContainer ul {
  list-style: disc;
  margin: 0 0 1rem 0;
}

.terms .termsContainer ul li {
  margin: 0 0 0.5rem 0;
}

@media screen and (min-width: 200px) and (max-width: 480px) {
  .terms .termsContainer {
    width: 90%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .terms .termsContainer {
    width: 90%;
  }
}
