.aboutContainer {
  margin: 1rem 0;
  gap: 2rem;
}

.about .aboutContent {
  width: 75%;
}

.about .aboutContent h2 {
  font-weight: 600;
  margin: 0 0 0.5rem 0;
  color: var(--headingColor);
  font-size: 1.4rem;
}

.about .aboutContent p {
  margin: 0 0 1rem 0;
  text-align: justify;
  color: var(--textColor);
}

.about .aboutContent .aboutExperience h3 {
  font-size: var(--h4);
  font-weight: 600;
  margin: 0 0 0.2rem 0;
  color: var(--headingColor);
}

.about .aboutContent .aboutExperience p {
  margin: 0 0 0.2rem 0;
  font-weight: 600;
  color: var(--headingColor);
}

.about .aboutContent .aboutExperience p span {
  font-weight: 400;
  color: var(--textColor);
}

.about .aboutContent .aboutExperience p span a {
  color: var(--textColor);
}

.aboutExperienceIcon {
  margin: 0 0 -0.15rem 0;
}

.about .aboutContent .aboutExperience p span a:hover {
  color: var(--offWhite);
  transition: 0.3s;
}

.about .aboutContent .aboutEducation h3 {
  font-size: var(--h4);
  font-weight: 500;
  margin: 0 0 0.2rem 0;
  color: var(--headingColor);
}

.about .aboutContent .aboutEducation p {
  margin: 0 0 0.2rem 0;
  font-weight: 500;
  color: var(--textColor);
}

.about .aboutContent .aboutEducation p span {
  font-weight: 400;
}

.about .aboutContent .aboutEducation p span a {
  color: var(--textColor);
}
.about .aboutContent .aboutEducation p span a:hover {
  color: var(--offWhite);
  transition: 0.3s;
}

.about .aboutContent .aboutSkills p {
  font-weight: 600;
  margin: 0 0 0.5rem 0;
  color: var(--textColor);
}

.about .aboutContent .aboutSkills p span {
  font-weight: 400;
  color: var(--textColor);
}

.about .aboutContent .aboutSIcons .aboutSIcon a {
  font-size: var(--h1);
  color: var(--textColor);
  margin: 0 1rem 0 0;
}

.about .aboutContent .aboutResume button {
  padding: 0.5rem;
  background-color: var(--headingColor);
  color: var(--white);
  border: 1px solid var(--headingColor);
  border-radius: 0.2rem;
}

.about .aboutContent .aboutResume button a {
  color: var(--white);
}

.aboutDResumeBtn {
  margin: 0 0 -0.1rem 0;
}

.about .aboutContent .aboutResume button:hover {
  background-color: var(--white);
  color: var(--headingColor);
  transition: 0.3;
  cursor: pointer;
}

.about .aboutContent .aboutResume button:hover a {
  color: var(--headingColor);
  transition: 0.3s;
}

.about .aboutContent .aboutEmail p {
  font-weight: 500;
  color: var(--textColor);
}

.about .aboutContent .aboutEmail p a {
  color: var(--textColor);
  font-weight: 400;
}

@media screen and (min-width: 200px) and (max-width: 480px) {
  .about .aboutContent {
    width: var(--width90);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .about .aboutContent {
    width: var(--width90);
  }
}
