.aboutContainer {
  margin: 1rem 0;
  gap: 2rem;
}

.about .aboutContent {
  width: 75%;
}

.about .aboutContent h2 {
  font-weight: 600;
  margin: 0 0 0.5rem 0;
  color: var(--headingColor);
  font-size: 1.4rem;
}

.about .aboutContent p {
  margin: 0 0 1rem 0;
  text-align: justify;
  color: var(--textColor);
}

.aboutPWidthExtra {
  width: 6rem;
  border-right: 1px solid var(--textColor);
  margin: 0 1rem 0.5rem 0 !important;
}

.about .aboutContent .aboutExperience {
  padding: 0 0 1rem 0;
}

.about .aboutContent .aboutExperience h3 {
  font-size: var(--h4);
  font-weight: 600;
  margin: 0 0 0.2rem 0;
  color: var(--headingColor);
}

.about .aboutContent .aboutExperience p {
  font-weight: 600;
  color: var(--headingColor);
}

.about .aboutContent .aboutExperience span {
  font-weight: 400;
  color: var(--textColor);
}

.about .aboutContent .aboutExperience span a {
  color: var(--textColor);
}

.aboutExperienceIcon {
  margin: 0 0 -0.15rem 0;
}

.ae1,
.ae2 {
  margin: 0 0 1rem 0;
}

.about .aboutContent .aboutEducation h3 {
  font-size: var(--h4);
  font-weight: 500;
  margin: 0 0 0.2rem 0;
  color: var(--headingColor);
}

.about .aboutContent .aboutEducation p {
  margin: 0 0 0.2rem 0;
  font-weight: 500;
  color: var(--textColor);
}

.about .aboutContent .aboutEducation span {
  font-weight: 400;
}

.about .aboutContent span a {
  color: var(--textColor);
}
.about .aboutContent span a:hover {
  color: var(--offWhite);
  transition: 0.3s;
}

.about .aboutContent .aboutSkills p {
  font-weight: 600;
  margin: 0 0 0.5rem 0;
  color: var(--textColor);
}

.about .aboutContent .aboutSkills span {
  font-weight: 400;
  color: var(--textColor);
}

.about .aboutContent .aboutSIcons .aboutSIcon a {
  font-size: var(--h1);
  color: var(--textColor);
  margin: 0 1rem 0 0;
}

.about .aboutContent .aboutEmail p {
  font-weight: 500;
  color: var(--textColor);
}

.about .aboutContent .aboutEmail p a {
  color: var(--textColor);
  font-weight: 400;
}

@media screen and (min-width: 200px) and (max-width: 480px) {
  .about .aboutContent {
    width: var(--width90);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .about .aboutContent {
    width: var(--width90);
  }
}
