.pageHeader {
  background-color: var(--black);
  height: 25vh;
  margin: 4rem 0 0 0;
  border-radius: 0.2rem;
}

.pageHeader h1 {
  color: var(--white);
  font-size: var(--h1);
  font-weight: 500;
}
