.pageHeader {
  background-color: var(--black);
  height: 15vh;
  margin: 4rem 0 0 0;
  border-radius: 0.2rem;
}

.pageHeader h1 {
  color: var(--white);
  font-size: var(--h1);
  font-weight: 500;
}

@media screen and (min-width: 200px) and (max-width: 480px) {
  .pageHeader {
    height: 8vh;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pageHeader {
    height: 8vh;
  }
}
