.githubSection {
  margin: 0 0 1px 0;
}

.githubSection .githubSContainer .githubSContent {
  background-color: var(--black);
  border-radius: 0.2rem;
  padding: 2rem 0;
}

.githubSection .githubSContainer .githubSContent .githubSIcon {
  font-size: 4rem;
  color: var(--white);
}

.githubSection .githubSContainer .githubSContent h3 {
  font-size: var(--h4);
  color: var(--white);
}

.githubSection .githubSContainer .githubSContent a button {
  padding: 0.5rem;
  background-color: var(--white);
  color: var(--headingColor);
  border: 1px solid var(--white);
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0.2rem;
}

.githubSection .githubSContainer .githubSContent a button .githubSFollowBtn {
  margin: 0 0 -0.16rem 0;
}

.githubSection .githubSContainer .githubSContent a button:hover {
  background-color: var(--white);
  color: var(--headingColor);
}
