.hero {
  margin: 4rem 0 0 0;
}

.hero .heroContainer {
  padding: 1rem 1rem 1rem 2rem;
  /* background-color: #111111; */
  height: 90vh;
  border-radius: 0.2rem;
  background-color: var(--black);
}

.hero .heroContainer h1 {
  font-size: 3rem;
  color: var(--white);
  margin: 0 0 1rem 0;
  font-weight: 600;
}

.hero .heroContainer h1 span {
  /* font-size: 2.5rem; */
  font-weight: 400;
}

.hero .heroContainer h2 {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--white);
  width: 70%;
}

.hero .heroContainer .heroBtns .heroBtn a {
  background-color: var(--white);
  color: var(--black);
  padding: 0.5rem;
  border: 1px solid var(--black);
  transition: 0.3s;
  margin: 0 1rem 0 0;
  border-radius: 0.2rem;
  cursor: pointer;
}

.hero .heroContainer .heroBtns .heroBtn a:hover {
  background-color: var(--white);
  color: var(--black);
}

.heroRBtnIcon {
  margin: 0 0 -0.12rem 0;
}

@media screen and (min-width: 200px) and (max-width: 480px) {
  .hero {
    height: 50vh;
  }

  .hero .heroContainer {
    padding: 1rem;
  }
  .hero .heroContainer h1 {
    font-size: 2rem;
  }

  .hero .heroContainer h2 {
    width: 100%;
    text-align: justify;
    font-size: 1rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero {
    height: 50vh;
  }
  .hero .heroContainer h1 {
    font-size: 2rem;
  }

  .hero .heroContainer h2 {
    width: 100%;
    font-size: 1.4rem;
  }
}
