.projects .projectsContainer {
  margin: 0.2rem 0;
}

.allProjectsTab .allProjectBox {
  width: calc(33.33% - 1.3px);
  color: var(--textWhite);
  border: 1px solid var(--black);
  background-color: var(--black);
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}

.allProjectsTab .allProjectBox:hover {
  background-color: var(--bgWhite);
  color: var(--textColor);
  transition: 0.3s ease-in-out;
}

.allProjectsTab .allProjectBox:hover .allProjectBtns .allProjectBtn a {
  transition: 0.3s ease-in-out;
  color: var(--textColor);
}

.allProjectsTab .allProjectBox:hover p {
  transition: 0.3s ease-in-out;
  color: var(--textColor);
}

.allProjectsTab {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
}

.allProjectsTab .allProjectBox .allProjectBtns .allProjectBtn {
  margin: 0 0 0.5rem 0;
}

.allProjectsTab .allProjectBox .allProjectBtns .allProjectBtn a {
  color: var(--textWhite);
  font-size: 1.4rem;
}

.allProjectsTab .allProjectBox .allProjectBtns .allProjectBtn a span {
  display: none;
}

.allProjectsTab .allProjectBox h3 {
  margin: 0 0 0.5rem 0;
  font-weight: 500;
}

.allProjectsTab .allProjectBox p {
  text-align: justify;
  font-size: 0.9rem;
  color: var(--textWhite);
}

.allProjectsTab .allProjectBox .allProjectTech {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (min-width: 200px) and (max-width: 480px) {
  .projects .projectsHeader h1 {
    font-size: 1.8rem;
  }
  .projects .projectsContainer .projectSearchBox .projectSearchHeading h2 {
    font-size: 1.2rem;
    margin: 0 0 0.5rem 0;
  }
  .projects .projectsContainer .projectSearchBox {
    flex-direction: column;
    align-items: flex-start;
  }

  .allProjectsTab {
    flex-direction: column;
  }

  .allProjectsTab .allProjectBox {
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .projects .projectsHeader h1 {
    font-size: 1.8rem;
  }
  .projects .projectsContainer .projectSearchBox .projectSearchHeading h2 {
    font-size: 1.2rem;
    margin: 0 0 0.5rem 0;
  }
  .projects .projectsContainer .projectSearchBox {
    flex-direction: column;
    align-items: flex-start;
  }

  .allProjectsTab {
    flex-direction: column;
  }

  .allProjectsTab .allProjectBox {
    width: 100%;
  }
}
