form .cInputs {
  margin: 0 0 1rem 0;
}

form input {
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  border: 1px solid var(--borderColor);
  border-radius: 0.2rem;
  background: transparent;
}

form select {
  border-radius: 0.2rem;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  border: 1px solid var(--borderColor);
  background: transparent;
}

form textarea {
  border-radius: 0.2rem;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  border: 1px solid var(--borderColor);
  background: transparent;
}

form button {
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  background-color: var(--headingColor);
  color: var(--white);
  border: 1px solid var(--headingColor);
  border-radius: 0.2rem;
}

form button:hover {
  background-color: var(--white);
  color: var(--headingColor);
  transition: 0.3s;
  cursor: pointer;
}

form .contactSent {
  color: green;
}

form .contactError {
  color: red;
}
