.messages .messagesHeader {
  background: rgb(211, 211, 211);
  background: linear-gradient(
    90deg,
    rgba(211, 211, 211, 1) 0%,
    rgba(232, 232, 232, 1) 68%,
    rgba(249, 249, 249, 0.9304096638655462) 94%,
    rgba(255, 255, 255, 0.9500175070028011) 100%
  );
  height: 25vh;
  padding: 4rem 0 0 0;
}

.messages .messagesHeader h1 {
  color: var(--headingColor);
  font-size: var(--h1);
  font-weight: 500;
}

.messages .messagesContainer table {
  border: 1px solid var(--borderColor);
  border-radius: 0.2rem;
  padding: 0.5rem;
}
